<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond $1 !^(crossdomain.xml|index.html|index.php|robots.txt|css|res|html|images|js|upload|push_pem|report_static|1.php)
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
